body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: grey;
  text-align: center;
  text-decoration: underline;
}
p {
  color: blue;
}
h2 {
  color: grey;
  text-align: center;
  text-decoration: underline;
}
.box1{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background: #000;
    /* align-items: center; */
    visibility: hidden;
}
.box2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: red;
    /* align-items: center; */
}